<div id="space-wrapper" class="page-layout blank p-24" fusePerfectScrollbar>
  <div class="detail">
      <div class="header-title my-12">
          <p>
              <label [routerLink]="'/admin-dashboard'">Dashboard</label>
              <span>&nbsp;/&nbsp;</span>
              <span>Alerting</span>
          </p>
      </div>
      <div class="content-wrapper">
          <div class="row">
              <div class="col-md-9 m-auto">
                  <div class="card text-center border shadow p-12 bg-info-light">
                      <h2>Missing requirements</h2>
                      <br />
                      <small
                          >To use this feature, these features are also required:</small
                      >
                      <br />
                      <h2>Botpress Pro must be enabled with a valid license
                        Redis must be enabled and correctly configured
                        Monitoring must be enabled</h2>
                  </div>
                  <br />
              </div>
          </div>
      </div>
  </div>
</div>
