<!--
    *ngIf="true" hack is required here for router-outlet to work
    correctly. Otherwise, it won't register the changes on the
    layout and won't update the view.
 -->
<router-outlet *ngIf="true">

        <!-- <div *ngIf="display == true">
        <a class="button button--white help-btn" (click)="navigate()">
            <i class="fa fa-commenting-o" aria-hidden="true"></i><span class="btn-span"> Help</span>
        </a>
    </div> -->
   
    <!-- <div *ngIf="display == true"> -->
        
    <!-- <div class="loading" *ngIf="showLoader">Loading…</div> -->
</router-outlet>