<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Enter your password</span>
            <button mat-button class="mat-icon-button"
                (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div>
            <form [formGroup]="updatePasswordForm">
            <div fxLayoutGap="12px" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your Password</mat-label>
                    <input type="password" formControlName="OldPassword" matInput placeholder="Enter your Password" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button class="c-p-btn"
                    color="accent" [disabled]="updatePasswordForm.invalid"  (click)="submit()">Submit</button> &nbsp; &nbsp;
            </div>
            </form>
        </div>

    </div>


</div>