<div id="space-wrapper" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="detail">
        <div class="header-title my-12">
            <p>
                <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                <span>&nbsp;/&nbsp;</span>
                <span>Modules</span>
            </p>
        </div>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left border shadow p-12">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Stable Modules</h2>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Analytics
                                        <p>
                                            Provides high level analytics about
                                            your bot's usage
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Basic Skills
                                        <p>
                                            Provides easy-to-use components to
                                            execute repetitive tasks
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Built-In
                                        <p>
                                            Provides the base elements that are
                                            recommended to run Botpress
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Channel - Web
                                        <p>
                                            Provides an embeddable webchat that
                                            can be easily integrated in an
                                            existing website. It is also used
                                            for the Emulator when developing
                                            bots in the Studio
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Code Editor
                                        <p>
                                            Provides an online editor to easily
                                            develop various components: actions,
                                            hooks, configurations...
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Examples
                                        <p>
                                            Provides code examples accessible
                                            via the online editor to help
                                            develop actions, hooks, and
                                            configurations.
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Channel Web Extensions
                                        <p>
                                            Advanced components for the webchat
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Natural Language Understanding

                                        <p>
                                            Provides everything required to
                                            understand the user's request
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Questions & Answers
                                        <p>
                                            An easy-to-use interface for
                                            providing answers to user questions
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <div class="module">
                                    <mat-slide-toggle>
                                        Testing
                                        <p>
                                            Provides the tools required to
                                            record a conversation and ensure
                                            answers stay consistent
                                        </p>
                                    </mat-slide-toggle>
                                </div>
                                <br />
                                <h2>Experimental Modules</h2>
                                <br />
                                <p>
                                    The modules below are experimental, and may
                                    change drastically before their official
                                    release. Their use in production is not
                                    recommended. Migration will not be automatic
                                    for version upgrades
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
