.bots {
    .bot {
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #555;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 12px;
        margin-bottom: 20px;
        background: #fff;
        mat-icon{
          position: relative;
          top: 7px;
        }
    }
}
