<div
    id="dashboard"
    class="page-layout blank p-24 dashboard-w-100"
    fusePerfectScrollbar
>
    <div class="detail">
        <div class="row">
            <div class="col-md-9 m-auto">
                <div
                    fxLayoutAlign="center center"
                    fxLayout.lt-md="column"
                    fxLayoutGap="15px"
                    class="p-12"
                >
                    <mat-form-field fxFlex="100" class="search-input">
                        <input
                            id="search"
                            #filter
                            matInput
                            placeholder="Search"
                        />
                        <mat-icon matSuffix>search</mat-icon> </mat-form-field
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-lg" dropdown>
                    <button
                        dropdownToggle
                        class="btn btn-info dropdown-toggle text-white"
                    >
                        Add <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem">
                            <a
                                class="dropdown-item"
                                routerLink="/knowledge-base-dashboard/manage-articles/create-article"
                                >Article</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                class="dropdown-item"
                                routerLink="/knowledge-base-dashboard/arrange-content/add-section"
                                >Section</a
                            >
                        </li>
                        <li role="menuitem">
                            <a
                                class="dropdown-item"
                                routerLink="/knowledge-base-dashboard/arrange-content/add-category"
                                >Category</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div
            class="my-24"
            fxLayout.lt-sm="column"
            fxLayoutAlign="space-between-start"
        >
            <div class="header-title">
                <p class="m-0">
                    <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                    <span>&nbsp;/&nbsp;</span>
                    <span>Knowledge Base Overview</span>
                </p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="detail">
            <div
                class="border-bottom pb-5"
                fxLayoutGap="24px"
                fxLayout="column"
                fxLayout.lt-sm="column"
            >
                <div fxLayout.lt-sm="column" fxLayoutGap="24px">
                    <mat-card fxFlex="50" class="widget-card p-20">
                        <div
                            class="alignment"
                            fxLayoutAlign="start"
                            fxLayout="column"
                        >
                            <h3 class="m-0">Articles</h3>
                            <p class="count m-0">0</p>
                        </div>
                    </mat-card>
                    <mat-card fxFlex="50" class="widget-card p-20">
                        <div
                            class="alignment"
                            fxLayoutAlign="start"
                            fxLayout="column"
                        >
                            <h3 class="m-0">Section</h3>
                            <p class="count m-0">0</p>
                        </div>
                    </mat-card>
                    <mat-card fxFlex="50" class="widget-card p-20">
                        <div
                            class="alignment"
                            fxLayoutAlign="start"
                            fxLayout="column"
                        >
                            <h3 class="m-0">Category</h3>
                            <p class="count m-0">0</p>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-white">Recent activity</h1>
                </div>
            </div>
            <div class="border-bottom activity row">
                <div class="col-md">
                    <div class="recent-activity">
                        <h2 class="text-white pointer">
                            <a class="text-white pointer">Announcements</a>
                        </h2>
                        <a class="text-white pointer"
                            >Welcome to your help center!</a
                        >
                    </div>
                </div>
                <div class="col-md-auto align-self-center">
                    <p class="text-white">Article created 9 days ago</p>
                </div>
            </div>
            <div class="border-bottom activity row">
                <div class="col-md">
                    <div class="recent-activity">
                        <h2 class="text-white pointer">
                            <a class="text-white pointer">FAQ</a>
                        </h2>
                        <a class="text-white pointer"
                            >What are these sections and articles doing here?</a
                        >
                    </div>
                </div>
                <div class="col-md-auto align-self-center">
                    <p class="text-white">Article created 9 days ago</p>
                </div>
            </div>
            <div class="border-bottom activity row">
                <div class="col-md">
                    <div class="recent-activity">
                        <h2 class="text-white pointer">
                            <a class="text-white pointer">FAQ</a>
                        </h2>
                        <a class="text-white pointer"
                            >How do I customize my Help Center?</a
                        >
                    </div>
                </div>
                <div class="col-md-auto align-self-center">
                    <p class="text-white">Article created 19 days ago</p>
                </div>
            </div>
            <div class="border-bottom activity row">
                <div class="col-md">
                    <div class="recent-activity">
                        <h2 class="text-white pointer">
                            <a class="text-white pointer">FAQ</a>
                        </h2>
                        <a class="text-white pointer"
                            >How do I publish my content in other languages?</a
                        >
                    </div>
                </div>
                <div class="col-md-auto align-self-center">
                    <p class="text-white">Article created 1 days ago</p>
                </div>
            </div>
            <div class="border-bottom activity row">
                <div class="col-md">
                    <div class="recent-activity">
                        <h2 class="text-white pointer">
                            <a class="text-white pointer">INFO</a>
                        </h2>
                        <a class="text-white pointer"
                            >How can agents leverage knowledge to help
                            customers?</a
                        >
                    </div>
                </div>
                <div class="col-md-auto align-self-center">
                    <p class="text-white">Article created 2 days ago</p>
                </div>
            </div>
        </div>
    </div>
</div>
