<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0 toolBarSize">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title toolBarTitle"> Html </span>
            <button
                mat-button
                class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content class="m-0 paddingDialog" fusePerfectScrollbar>
        <form
            name="resourceForm"
            [formGroup]="sourceForm"
            class="event-form w-100-p"
            fxLayout="column"
            fxFlex
        >
            <div class="pl-12 pr-12">
                <mat-form-field fxFlex="100">
                    <textarea
                        matInput
                        formControlName="code"
                        placeholder="{{ getLanguage('RES_KEY_CODE') }}"
                        rows="15"
                    ></textarea>
                </mat-form-field>
            </div>

            <div class="w-100-p" fxLayoutAlign="center center">
                <button
                    mat-raised-button
                    color="basic"
                    class="btnborder"
                    [disabled]="sourceForm.invalid"
                    (click)="dialogRef.close(sourceForm)"
                >
                    Save
                </button>
                &nbsp;&nbsp;
                <button
                    mat-raised-button
                    color="primary"
                    class="btnborder"
                    (click)="dialogRef.close()"
                >
                    Cancel
                </button>
            </div>
            <br />
        </form>
    </div>
</div>
