<div id="dashboard" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="detail" fxLayoutAlign="space-between center">
        <div class="header-title">
            <p>
                <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                <span>&nbsp;/&nbsp;</span>
                <label [routerLink]="'/supplier-settings'">Supplier Settings</label>
                <span>&nbsp;/&nbsp;</span>
                <span>Suppliers</span>
            </p>
        </div>

        <div></div>
    </div>

    <p-toast position="center"></p-toast>
    <div class="detail my-24 content">
        <div class="p-12 px-24 w-100-p content-filter" fxLayout.lt-sm="column"
            fxLayoutGap="15px" fxLayoutAlign="center center">
            <mat-form-field fxFlex="20" class="search-input" >
                <input id="search" #filter matInput  [formControl]="searchSupplier"  placeholder="Search by Supplier Name">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
<!--             
            <mat-form-field fxFlex.lt-md="100" fxFlex="20" class="search-input">
                <input id="search" matInput #filter
                    [formControl]="searchSupplier" placeholder="Search by Supplier Name">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field> -->

            <mat-form-field fxFlex.lt-md="110" fxFlex="20">
                <mat-select  (selectionChange)="filterbyEnergyType($event)"
                    placeholder="Energy Type" [(ngModel)]="EnergyType">
                    <mat-option value="1" >
                        Gas & Electricity
                    </mat-option>
                    <mat-option value="2">
                        Electricity
                    </mat-option>
                    <!-- <mat-option value="3">
                        All
                    </mat-option> -->
                </mat-select>
            </mat-form-field>

            <button mat-flat-button style="background: rgba(199, 203, 234, 0.2);" (click)="filterSupp()">
                <mat-icon class="white-fg mt-8">
                    swap_vert
                </mat-icon> <br />
                Filter
            </button>
            <button style="background: rgba(199, 203, 234, 0.2);" mat-flat-button (click)="ClearFilter()">
                <mat-icon class="white-fg mt-8">
                    cancel
                </mat-icon> <br />
                Clear
            </button>
            <button mat-flat-button style="background: rgba(199, 203, 234, 0.2);"  (click)="addReadingMeter()">
                <mat-icon class="white-fg mt-8">
                    add
                </mat-icon> <br />
                Add
            </button>
        </div>
        <div>
           
            <!-- <button mat-fab class="add-button" (click)="addReadingMeter()">
                <mat-icon class="white-fg">add</mat-icon>
            </button> -->
        </div>
      
          

                <!-- table -->
                <div *ngIf="suppliers?.length > 0">
                    <ngx-datatable class="material striped w-100-p"
                        [rows]="suppliers"
                        [columnMode]="'force'" [headerHeight]="50"
                        [scrollbarH]="true"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [offset]="pageOffset" (page)="onChange($event)">
                        <ngx-datatable-column [sortable]="true"
                            prop="EnergyType" name="Energy type">
                            <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                             <span *ngIf="row.EnergyTypeID=='1'">   Gas & Electricity</span>
                             <span *ngIf="row.EnergyTypeID=='2'"> Electricity  </span>
                             <span *ngIf="row.EnergyTypeID=='3'">   Gas </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" prop="Name"
                            name="Supplier name">
                            <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <a [routerLink]="'/supplier-detail/' +
                                row.ID+ '/' + pageOffset + '/' + 0">{{row.Name}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="true" prop="IsCanUsedForSwitch"
                        name="Is Applicable for switch">
                        <ng-template let-row="row" let-value="value"
                            ngx-datatable-cell-template>
                            <span *ngIf="row.IsCanUsedForSwitch == 'True'">
                                <mat-icon style="color: #5db461;">check_circle_outline</mat-icon>
                            </span>
                            <span *ngIf="row.IsCanUsedForSwitch == 'False'">
                                <mat-icon style="color: #d3595e">cancel</mat-icon>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="true" prop="PlanCount"
                            name="Number of plan">
                            <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <span class="type-of-payment">0</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- <ngx-datatable-column [sortable]="true" prop="PaymentType" name="Payment methods">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.PaymentType}}
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column [sortable]="true" prop="status"
                            name="Status">
                            <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <span *ngIf="row.Status == 'True'">Active</span>
                                <span *ngIf="row.Status == 'False'">Inactive</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [sortable]="false" name="Actions">
                            <ng-template let-row="row" let-value="value"
                                ngx-datatable-cell-template>
                                <button matTooltip="Edit Details" color="accent" (click)="editSupplier(row)"
                              mat-mini-fab>
                                    <mat-icon class="white-fg">edit</mat-icon>
                                </button>
                                  
                                <button matTooltip="View Details" [routerLink]="'/supplier-detail/' +
                                row.ID+ '/' + pageOffset + '/' + 0"
                                mat-mini-fab>
                                    <mat-icon class="white-fg">
                                        list_alt
                                    </mat-icon>
                                </button>
                                <button matTooltip="Delete Supplier" style="background-color: rgb(213, 78, 76);" (click)="deleteSupplier(row)" mat-mini-fab>
                                    <mat-icon>delete</mat-icon>
                                </button>
                              
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
                <div fxLayoutAlign="center center" *ngIf="suppliers?.length == 0">
                    <h1 style="text-align:center;font-size: medium;position: absolute;
                    top: 50%;">No Data Found</h1>
                </div>
     


    </div>


</div>