<div id="login" fxLayout="column">
    <div
        id="login-form-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div class="mb-24">
            <img width="200" src="/assets/images/betterDeal/beterdeal_logo.png" />
        </div>
        <div class="title">Let's get started now!</div>
        <div
            id="login-form"
            [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }"
        >
            <p-toast position="center"></p-toast>
            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Email address</mat-label>
                    <input
                        matInput
                        placeholder="Enter Email address"
                        formControlName="email"
                    />
                    <mat-error
                        *ngIf="loginForm.get('email').hasError('required')"
                    >
                        Email address is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            !loginForm.get('email').hasError('required') &&
                            loginForm.get('email').hasError('pattern')
                        "
                    >
                        Please enter a valid Email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        type="password"
                        placeholder="Password"
                        formControlName="password"
                    />
                    <mat-error> Password is required </mat-error>
                </mat-form-field>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="userLogin()"
                    class="submit-button"
                    aria-label="LOG IN"
                    [disabled]="loginForm.invalid"
                >
                    Sign in
                </button>
            </form>
            <!-- <div
                class="register mb-0"
                fxLayout="row"
                fxLayoutAlign="center center"
            >
                <a class="forgot-password" [routerLink]="'/forgot-password'">
                    Forgot Password?
                </a>
            </div> -->
        </div>
    </div>
</div>