

  <div id="customer-bills" class="page-layout blank p-24" fusePerfectScrollbar>
    <p-toast position="center"></p-toast>
    <div class="detail" [ngStyle]="{'min-height': minheight}">
        <div class="header-title my-12">
            <p>
                <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                <span>&nbsp;/&nbsp;</span>
                <label [routerLink]="'/accounts/income'">Incomes</label>
                <span>&nbsp;/&nbsp;</span>
                <span *ngIf="userId == null || userId == undefined">
                     Income Details
                </span>
                
                <span *ngIf="!!userId">
                    Edit Details
                </span>
            </p>
        </div>
        <div class="container" fxLayout="row" fxLayoutAlign="center none">
          <div fxFlex="95%">
        
            <mat-card>
              <mat-card-content>
                  <!-- <div class="pull-right">
                      <a [routerLink]="['/accounts/partner/invoice/']"  style="float: right;" color="accent" >
                          Create Invoice</a>
                     
                  </div> -->
                <h2>Supplier Details</h2>
             <div class="row">
              <div class="col-md-4">
                  <h4>Supplier Details</h4>
                  <p>Tittle : {{clientDetails?.Title}} </p>
                  <p>Company Name : {{clientDetails?.CompanyName}} </p>
                  <p>Full Name : {{clientDetails?.FirstName}} {{clientDetails?.LastName}}</p>
                  <p>Email : {{clientDetails?.Email}} </p>
                  <p>Business Phone Number : {{clientDetails?.BusineesPhoneNumber}}</p>
              </div>
              <div class="col-md-4">
                  <h4>Address Details</h4>
                  <p>Building Name : {{clientDetails?.BuildingName}}</p>
                  <p>Town City : {{clientDetails?.TownCity}}</p>
                  <p>Number : {{clientDetails?.Number}}</p>
                  <p>Address : {{clientDetails?.Address}}</p>
                  
              </div>
              <div class="col-md-4">
                  <h4>Commission Details</h4>
                  <p>Commission Type : {{findCommissionType(clientDetails?.ComissonType)}}</p>
                  <p>Invoice Generation Type : {{findInvoiceGeneration(clientDetails?.InvoiceGenerationType)}}</p>
                  <!-- <p>Invoice Generation Value : {{clientDetails?.InvoiceGenerationValue}}</p> -->
                  <p>Invoice Payable Type : {{findInvoicePayable(clientDetails?.InvoicePayabelType)}}</p>
                  <!-- <p>Invoice Payable Value : {{clientDetails?.InvoicePayableValue}}</p> -->
              </div>
             </div>
         
                
              </mat-card-content>
            </mat-card>
        
          </div>
        </div>
    </div>
  </div>
  
  