<div id="space-wrapper" class="page-layout blank p-24" fusePerfectScrollbar>
  <div class="detail">
      <div class="header-title my-12">
          <p>
              <label [routerLink]="'/admin-dashboard'">Dashboard</label>
              <span>&nbsp;/&nbsp;</span>
              <span>Languages</span>
          </p>
      </div>
      <div class="content p-12">
          <div class="row">
              <div class="col-md-8">
                  <h1>Installed Languages</h1>
                  <div class="languages">
                    <div class="language py-sm-20 border-bottom">
                      Arabic
                    </div>
                    <div class="language py-sm-20 border-bottom">
                      Dutch
                    </div>
                    <div class="language py-sm-20 border-bottom">
                      English
                    </div>
                    <div class="language py-sm-20 border-bottom">
                      French
                    </div>
                    <div class="language py-sm-20 border-bottom">
                      Germany
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
