
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Reason Details</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
  
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <p style="font-weight: bold;">Created Date :{{Data.Date | date: 'dd / MM / yyyy, h:mm a'}}</p>
        <p style="font-weight: bold;">Reason :{{Data.AdditionalInfo}}</p>
        <span *ngIf="Data.EnergyType == 1">
            <p style="font-weight: bold;">Meter Type  :Normal Meter</p>
        </span>
        <span *ngIf="Data.EnergyType == 2">
            <p  style="font-weight: bold;">Meter Type :Economy 7 or 10 Meter</p>
        </span>
        <p style="font-weight: bold;">Previous Reading Value :{{Data.PreviosMeterReading}}</p>

      
    </div>
  
  
  </div>
