<div id="dashboard" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="detail" fxLayoutAlign="space-between center">
        <div class="header-title">
            <p>
                <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                <span>&nbsp;/&nbsp;</span>
                <label [routerLink]="'/supplier-settings'"
                    >Supplier Configuration
                </label>
                <span>&nbsp;/&nbsp;</span>
                <span>Energy Type</span>
            </p>
        </div>
    </div>

    <p-toast position="center"></p-toast>
    <div class="detail my-24 content">
        <div
            class="p-12 px-24 w-100-p content-filter"
            fxLayout.lt-sm="column"
            fxLayoutGap="15px"
            fxLayoutAlign="center center"
        >
            <mat-form-field fxFlex="20" class="search-input">
                <input
                    id="search"
                    #filter
                    matInput
                    [formControl]="searchEnergyTypes"
                    placeholder="Search by Energy Type Name"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button
                mat-flat-button
                style="background: rgba(199, 203, 234, 0.2)"
                (click)="addEnergyType()"
            >
                <mat-icon class="white-fg mt-8"> add </mat-icon> <br />
                Add
            </button>
        </div>

        <!-- table -->
        <div *ngIf="energyTypes?.length > 0">
            <ngx-datatable
                class="material striped w-100-p"
                [rows]="energyTypes"
                [columnMode]="'force'"
                [headerHeight]="50"
                [scrollbarH]="true"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [offset]="pageOffset"
                (page)="onChange($event)"
            >
                <ngx-datatable-column
                    [sortable]="true"
                    prop="Name"
                    name="Energy Type name"
                >
                    <ng-template
                        let-row="row"
                        let-value="value"
                        ngx-datatable-cell-template
                    >
                        {{ row.Name }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false" name="Actions">
                    <ng-template
                        let-row="row"
                        let-value="value"
                        ngx-datatable-cell-template
                    >
                        <button
                            matTooltip="Edit Details"
                            color="accent"
                            (click)="editEnergyType(row)"
                            mat-mini-fab
                        >
                            <mat-icon class="white-fg">edit</mat-icon>
                        </button>

                        <button
                            matTooltip="Delete Supplier"
                            style="background-color: rgb(213, 78, 76)"
                            (click)="deleteEnergyTypes(row)"
                            mat-mini-fab
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div fxLayoutAlign="center center" *ngIf="energyTypes?.length == 0">
            <h1
                style="
                    text-align: center;
                    font-size: medium;
                    position: absolute;
                    top: 50%;
                "
            >
                No Data Found
            </h1>
        </div>
    </div>
</div>
