<div class="container row">
        <div class="col-md-6 example-full-width mat-form-field">
        <label style="font-size: 11px;color: darkgray;">Commission in Percentage</label>
        <input type="text" class="form-control fx-custom-border-fld">
        </div>
        <div class="col-md-6 example-full-width mat-form-field">
        <label style="font-size: 11px;color: darkgray;">Fixed Amount</label>
        <input type="text" class="form-control fx-custom-border-fld">
     
        </div>
        <div class="col-md-6 example-full-width mat-form-field">
        <label style="font-size: 11px;color: darkgray;">Start Commission</label>
        <input type="text" class="form-control fx-custom-border-fld">
        </div>
        <div class="col-md-6 example-full-width mat-form-field">
        <label style="font-size: 11px;color: darkgray;">End Commission</label>
        <input  type="text" class="form-control fx-custom-border-fld">
        <div>
        </div>
        </div>
           </div>
           
 