<div id="space-wrapper" class="page-layout blank p-24" fusePerfectScrollbar>
    <div *ngIf="showLoader">
        <div class="loader1">
            <div>
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <p-toast position="center"></p-toast>
    <div class="detail" [ngStyle]="{ 'min-height': minheight }">
        <div class="header-title my-12">
            <p>
                <label [routerLink]="'/admin-dashboard'">Dashboard</label>
                <span>&nbsp;/&nbsp;</span>
                <label [routerLink]="'/admin-tickets-dashboard'"
                    >Overview</label
                >
                <span>&nbsp;/&nbsp;</span>
                <span>Ticket Detail</span>
            </p>
        </div>
        <div class="content w-100-p p-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-bottom h1 heading pb-12">
                        <i class="fa fa-ticket text-success"></i>&nbsp; View
                        Ticket
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="card shadow-none border-info-light">
                        <div
                            class="card-header border-info-light bg-info-light"
                        >
                            <i class="fa fa-envelope"></i>&nbsp; User
                        </div>
                        <div class="card-body">
                            <h1 class="mt-0 mb-0">
                                Unable to pay Using debit card
                            </h1>
                            <div class="row">
                                <div class="col-md">
                                    <small><b>Created By:</b> Demo user</small>
                                </div>
                                <div class="col">
                                    <i class="fa fa-clock-o text-success"></i>
                                    <small
                                        ><b>Created Date:</b> Aug 18 2020 2:15
                                        PM</small
                                    >
                                </div>
                            </div>
                        </div>
                        <div
                            class="card-footer bg-white shadow-none border-info-light"
                        >
                            <p class="mb-0">
                                Try to do payment using debit card it was
                                showing error
                            </p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="card shadow-none ">
                        <div class="card-header  ">
                            <i class="fa fa-envelope"></i>&nbsp; User
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-quill-editor
                                        [placeholder]="placeholder"
                                    ></app-quill-editor>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field
                                        fxFlex="100"
                                        appearance="outline"
                                    >
                                        <mat-label>Note</mat-label>
                                        <textarea
                                            matInput
                                            placeholder="note.."
                                            rows="6"
                                            cols="6"
                                        >
                                        </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <button
                                        mat-icon-button
                                        matTooltip="Attach a File"
                                    >
                                        <mat-icon>attach_file</mat-icon> Choose
                                        a File
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="card-footer bg-white shadow-none "
                        >
                            <button mat-flat-button color="accent">
                                Resolved
                            </button>
                            &nbsp;
                            <button mat-flat-button color="accent">
                                InProgress
                            </button>
                            &nbsp;
                            <button mat-flat-button color="accent">
                                OnHold
                            </button>
                            &nbsp;
                            <button mat-flat-button color="accent">
                                Reply
                            </button>
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-none">
                        <div class="card-header">
                            <i class="fa fa-question-circle-o"></i>Ticket
                            Information
                        </div>
                        <div class="card-body">
                            <p class="mb-1">
                                <i class="fa fa-ticket text-success"></i>
                                Ticket
                            </p>
                            <p class="mb-0">S-20-960784123</p>
                        </div>
                    </div>
                    <br />
                    <div class="card shadow-none">
                        <div class="card-header">
                            <i class="fa fa-question-circle-o"></i>Chaneg
                            Priority / Status
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field
                                    class="pb-0"
                                        fxFlex="100"
                                        fxFlex.lt-md="100"
                                        appearance="outline"
                                    >
                                        <mat-label>Change Priority</mat-label>
                                        <mat-select
                                            placeholder="Status"
                                            required
                                        >
                                            <mat-option [value]="1"
                                                >Urgent</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field
                                        fxFlex="100"
                                        fxFlex.lt-md="100"
                                        appearance="outline"
                                    >
                                        <mat-label>Change Status</mat-label>
                                        <mat-select
                                            placeholder="Status"
                                            required
                                        >
                                            <mat-option [value]="1"
                                                >Resolved</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field
                                        fxFlex="100"
                                        fxFlex.lt-md="100"
                                        appearance="outline"
                                    >
                                        <mat-label>Change Category</mat-label>
                                        <mat-select
                                            placeholder="Status"
                                            required
                                        >
                                            <mat-option [value]="1"
                                                >Support</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card shadow-none">
                        <div class="card-header">
                            <i class="fa fa-file"></i>Attachments
                        </div>
                        <div class="card-body"></div>
                    </div>
                    <br />
                    <div class="card shadow-none">
                        <div class="card-header">
                            <i class="fa fa-refresh"></i>Ticket History
                        </div>
                        <div class="card-body">
                            <button class="btn btn-light text-lowercase" (click)="ticketingHistory()">
                              Show Activities
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
