<div class="dialog-content-wrapper">
  
    <div mat-dialog-content class="m-0 p-16" fusePerfectScrollbar >
        <div fxLayoutAlign="end end">
            <a href="http://lowesttariff.com"></a><img width="200" src="assets/images/logos/LowestTeriff.png"/>
        </div>
        <h1 fxLayoutAlign="center center" style="text-align: center;">
           
                General terms and conditions of supply<br/> for domestic properties
           
        </h1><br/>
        <div>
            <p>
                <b>1.About your contract</b>
            </p>
            <p>
                <b>1.1  You and us </b>
            </p>
            <p>
                <b>Your contract is between:</b>
            </p>
            <div>
                <ul>
                    <li>
                        you, the person (or people) responsible for use of the electricity and gas (we call that energy), and 
                    </li>
                    <li>
                       us, Monti Trade BVBA trading as Lowest Tariff, responsible to the supply of energy to the residential property
                    </li>
                </ul>
            </div>
            <p><b>1.2  Your contract with us </b></p>
            <p>There’s no end date and the prices can go up or down at any time. We’ll contact you before we put the prices up.   
            </p>
            <p>Details of your prices and tariff terms and conditions are in your customer dashboard section “My Switches”. </p>
            <p>These make up your whole agreement with us.</p>
            <p><b>1.3  Confirmation letters 
            </b></p>
            <p>
                A confirmation letter may be sent to you by post or electronically to:  
            </p>
            <div>
                <ul>
                    <li>give you details of your contract or a New Tariff, or 
                    </li>
                    <li>
                        remind you that your fixed term tariff is due to end, or 
                    </li>
                    <li>
                        tell you about changes to your prices or other terms and conditions. 
                    </li>
                </ul>
            </div>
            <p>
                <b>1.4  Your meter</b>
            </p>
            <p>
                <b>1.4.1  Non-smart meters</b>
            </p>
            <p>
                Some meters record usage at different times of day separately, such as Economy 7 (E7) or Economy 10 (E10). If your meter does this, we may be able to offer you different tariffs with cheaper rates at times when other people are less likely to be using energy (off-peak). Rates for other times of day (on-peak) may be higher than the equivalent single rate tariff. If you don’t use a lot of energy at night, you may be better off on a tariff with a single rate rather than an E7 or E10 tariff. 
            </p>
            <p>E7 provides at least 7 hours of energy at a cheaper rate and E10 provides at least 10 hours. Some people may still have complex meters which have more than one off-peak time, or record heating usage separately (these are no longer available).   </p>
            <p>We’ll tell you what your off-peak hours are on your confirmation letters. </p>
            <p>If your meter is exchanged, we might change your off-peak hours.  We’ll tell you about this.  </p>
            <p><b>1.4.2  Smart meters 
            </b></p>
            <p>
                We may contact you at any time to offer you a smart meter. Smart meters aren’t currently available for some properties. 

            </p>
            <p>If you have a smart meter we may be able to switch it to E7 or E10 mode. Not all smart meters are able to be switched but we may be able to exchange your meter for one that can be. We will charge you for this. If you previously had a complex meter we’ll try to match your off-peak hours as closely as we can to what you had before. You’ll still get at least 7 hours on E7 and at least ten hours on E10. 
            </p>
            <p>
                If you have a tariff with cheaper off-peak rates, your bill or statement will show both the on-peak and off-peak usage and charges.   
            </p>
            <p>
                <b>1.4.3  Replacing your meter 
                </b>
            </p>
            <p>In some circumstances we may charge you if you ask us to replace your meter, except where it’s faulty. For example, where you ask us to replace a smart meter with a non-smart meter. We won’t charge you to install or remove a non-smart prepayment meter. 
            </p>
            <p><b>1.5  Which laws apply to your contract? 
            </b></p>
            <p>For properties in England and Wales, the laws of England and Wales apply to this contract. For properties in Scotland, the laws of Scotland apply. 
            </p>
            <p>Nothing in this contract affects your legal rights. </p>
            <p>If we decide to ignore one or more of the terms in this contract, the others still apply. 
            </p>
            <p>If a court decides that one or more of the terms in this contract isn’t valid, the others still apply. 
            </p>

            <p><b>1.6  Transferring the contract 
            </b></p>
            <p>We might transfer this contract to another company. If we do, it won’t affect your rights to end the contract. We’ll share your personal data with the company, so they can carry on supplying your energy. 
            </p>
            <p>You can’t transfer this contract to anyone else without our permission. 
            </p>
            <p><b>2. Joining us and leaving us 
            </b></p>
            <p><b>2.1  Becoming responsible for the energy at a property we supply </b></p>
            <p>If you’ve just moved into the property, or taken over responsibility for energy used at a property, you’ll be in a deemed contract. Get in touch with us as soon as you can.   
            </p>
            <p>If you’re a landlord we’ll charge you for any energy used and any other energy-related costs while the property is empty, unless we agree something else with you. 
            </p>

            <p><b>2.2  Switching   
            </b></p>
            <p><b>2.2.1  Changing your mind 
            </b></p>
            <p>When you use our service to switch with from another supplier, you’ve got 14 days from when you agree the contract to change your mind – the cooling off period. 
            </p>
            <p>If you change your mind, tell us before the end of the cooling-off period using our contact details and we’ll stop your switch. 
            </p>

            <p><b>2.2.2  Checking your credit rating 
            </b></p>
            <p>Energy Suppliers may check your credit rating to check you’ll be able to pay your bills on time. They’ll also look at our own records if you’ve been a customer in the last year. 
            </p>

            <p><b>2.2.3  Making your switch happen 
            </b></p>
            <p>It shouldn’t take more than 21 days to switch, unless: 
            </p>

            <div>
                <ul>
                    <li>you’ve agreed a later date with us, or </li>
                    <li>your old supplier won’t let you switch. This might be because you owe them money, or </li>
                    <li>we’ve had trouble getting the information we need, even though we’ve done everything we reasonably can to contact you, or ></li>
                    <li>something’s happened which we can’t control. </li>
                </ul>
            </div>

            <p><b>2.3  Ending your contract with us 
            </b></p>
            <p>You can arrange to switch to another tariff (or supplier) whenever you like. We may object if you owe us money. 
            </p>

            <p><b>2.4  How we’ll contact you  
            </b></p>
            <p>We’ll contact you through electronic communications (such as online, email, push messages, social media, live chat, voice), and by text messages. You need to tell us straightaway if you change your Email address, social media account or mobile phone number.  
            </p>

            <p><b>2.5  Managing your account online 
            </b></p>

            <p>This includes everything you can do on the website, whether logged in or not. 
            </p>
            <p>By activating your online account you'll automatically be able to view your bills and statements online, and complete other tasks.  
            </p>
            <p>By using your online account, you are authorising us to carry out all instructions you give us through that account.   
            </p>
            <p>You must keep your online password a secret. Let us know straight away if you think someone else is using your online account. 
            </p>
            <p>Sometimes, your online account or our online services may be unavailable for maintenance or problems we can’t control. We’ll do all we reasonably can to get things working as soon as possible. 
            </p>
            <p><b>2.6 When suppliers can disconnect your energy
            </b></p>
            <P>
                If you owe money, your energy can disconnect. But this is only a last resort. If you have trouble paying we’ll do everything reasonable to help. If your energy ends up been disconnected, we’ll contact you to tell you. 
            </P>
            <P>
                If you’ve got a smart meter, your energy can be disconnected without a visit to your property. For any other kind of meter, you’d have to give access to it. If you don’t, a warrant may be obtained and you may be charged for that. 
            </P>
            <p>
                Your network operator, can also disconnect your energy for safety reasons, or if we think you’ve broken the law. You’ll be charged for what it costs to disconnect your energy and reconnect it again.   
            </p>
            <p>
                You can ask us to disconnect the energy temporarily, for instance whilst building work is going on. Or you can ask us to disconnect it because you don’t need it anymore, for instance because you’re having the property demolished. There may be a charge for this.  
            </p>
            <p>
                <b>
                    2.7 Ending your contract
                </b>
            </p>
            <p>
                Your contract will end when:
            </p>
            <div>
                <ul>
                    <li>
                        you switch to another supplier, or    
                    </li>
                    <li>someone else becomes responsible for paying for energy at the property, or </li>
                    <li>we disconnect your energy supply, or</li>
                    <li>the energy regulator, Ofgem, orders another company to take over supplying your property. This is very rare and the new supplier would contact you.</li>
                    
                </ul>
                
            </div>
            <p>We can change the contract with you if: </p>
            <div>
                <ul>
                    <li>you get a new meter fitted by your own agent or  </li>
                    <li>you start using the property as business premises. </li>
                </ul>
            </div>
            <p>
                In either of these cases, contact us in advance and we’ll explain what you need to do. 
            </p>
            <p><b>3. How we work out what you pay</b></p>
            <p><b>3.1 Your energy charges</b></p>
            <p>We work out your energy charges from:</p>
            <div>
                <ul>
                    <li>the daily standing charge(s) that apply to your tariff times the number of days, plus </li>
                    <li>the unit rate(s) that apply to your tariff times the amount of energy you use. </li>
                   
                </ul>
            </div>
            <p>
                We then take off any discounts (see section 3.4), and add VAT. 
            </p>
            <p>
                Sometimes, you might also have to pay for:   
            </p>
            <div>
            <ul>
                <li>
                    leaving your contract early. Your confirmation letter will tell you if you have to pay an exit fee  
                </li>
                <li>replacing prepayment meter cards/keys or payment cards  </li>
                <li>sending copies of documents like bills or statements </li>
                <li>charges for paying your bill late, getting back money you owe us or fitting a prepayment meter</li>
                <li>disconnecting or reconnecting your energy when you ask us to </li>
                <li>moving, inspecting, installing, reinstalling, testing (see section 7.4) or repairing a mete</li>
                <li>moving the meter to somewhere else in the property </li>
                <li>connecting to your local energy network</li>
                <li>getting into your property to access the meter or disconnect your supply  </li>
            </ul>
            </div>
            <p><b>3.2 Working out how much energy you’ve used</b></p>
            <p>We work out your bill using a measure called kilowatt hours (kWh). We need readings from your meter to do this. </p>
            <p>Electricity:  your meter automatically uses kilowatt hours. </p>
            <p>Gas:  Your gas meter measures how much gas you use in cubic metres or cubic feet. How much energy you get from that gas depends on things like gas pressure and quality. So we have to convert the cubic metres or feet into kilowatt hours.  How we work this out is covered in law.</p>
            <p>
                If you have a smart meter we may be able to get readings without visiting your home. Otherwise we’ll send round a meter reader from time to time. Or you can give us readings yourself through your online account. Or use the contact details in your confirmation letter.
            </p>
            <p><b>3.2.1  Smart meters </b></p>
            <p>Smart meters record what energy you use every 30 minutes and keep that information for up to 13 months. </p>
            <p>Normally we’ll look at your smart meter once a month to see what you’ve used each day. That’s unless you’ve agreed that we can take a reading more often, or you only want us to take a single reading each month and not measure individual days.</p>
            <p>We may also read your smart meter when: </p>
            <div>
                <ul>
                    <li>your prices change </li>
                    <li>you move to another of our tariffs </li>
                    <li>you move home </li>
                    <li>you ask us to</li>
                    <li>you switch to another supplier. In this case we might send them the reading if you’ve agreed to that. </li>
                </ul>
            </div>
            <p>
                <b>3.3  Using estimated readings </b>
            </p>
            <p>We’ll have to estimate how much energy you’ve used if: </p>
            <div>
                <ul>
                    <li>we don’t have a recent meter reading when we’re due to send you a bill or statement </li>
                    <li>the reading we have doesn’t seem to be right </li>
                    <li>your meter is faulty, or it’s been damaged or tampered with. </li>
                </ul>
            </div>
            <p>We’ll base our estimate on your previous readings. If we haven’t got any readings, we’ll base it on the average amount of energy someone in a property like yours uses. </p>
            <p>If you don’t agree with our estimate, you can give us meter readings through your online account or use the contact details in your confirmation letter. </p>
            <p><b>3.4  Discounts</b></p>
            <p>Your confirmation letter will show what discounts you get, if any. </p>
            <p><b>3.5  Revised bills or statements</b></p>
            <p> We may send you a revised bill or statement if we find out: </p>
            <div>
                <ul>
                    <li>the meter readings we used weren’t accurate </li>
                    <li>your meter wasn’t working properly </li>
                    <li>
                        we had the wrong information about your meter. 
                    </li>
                </ul>
            </div>
            <p>
                We won’t ask for payment for any charges for supply of energy that could reasonably relate to more than 12 months ago, unless you’ve behaved unreasonably or prevented us from getting any information we need to bill you.
            </p>
            <p><b>3.6  Green Deal</b></p>
            <p>Green Deal is a Government scheme that means a property can have energy-saving improvements fitted, which are then paid for through the electricity bills for that property. </p>
            <p>If your property has a Green Deal, you’re responsible for paying the Green Deal charges. We’ll collect these through your bills and pay them to your Green Deal provider. If you pay in advance, we’ll collect the charges through your meter</p>
            <p>Green Deal charges aren’t included in the prices we agree with you when you switch to us or switch to a different tariff. We’ll contact to you about those charges as soon as we know what they are.  </p>
            <p><b>4. Paying us</b></p>
            <p><b>
                4.1  Paying in advance
            </b></p>
            <p>
                We may ask you to pay in advance if we think you’ll have trouble paying your bills. 
            </p>
            <p>
                <b>4.2  Paying by Direct Debit</b>
            </p>
            <p>
                We’ll charge a monthly amount as per the usage stated on your bill. We’ll also tell you the date we’ll take your payment. After that you can agree a different payment date with us. 
            </p>
            <p>If the Direct Debit fails and your bank doesn’t transfer the money on the date we’ve agreed, we’ll try again. Your standing charge and unit rate may change. We’ll contact you about this.</p>
            <p>If the Direct Debit payment due date falls at a weekend or on a bank holiday, we’ll take your payment on the next working day. We won’t take payment early unless we’ve told you 10 days in advance. </p>
            <p>
                <b>
                    5. Moving out
                </b>
            </p>
            <p>
                If you’re not responsible for the property anymore, you need to tell us. Otherwise we’ll keep charging you until someone else takes over responsibility for the energy.  
<br/><br/>
When you move, give us a final meter reading and your new address so we can send you a final bill or any credit we owe you. If you’ve got a smart meter, we may be able to take a reading ourselves. We can also clear your data from the meter and the smart energy display. Make sure you leave the smart energy display behind. 
<br/><br/>
We’ll do everything reasonable to send you your final bill or statement within six weeks of you moving out (or of us finding out you’ve moved). You’ll need to pay it within 14 days of us sending it unless we agree something else with you. We’ll use your final reading. If you haven’t given us one, we’ll use the new occupant’s reading or, if we don’t have that, our own estimated reading (see section 3.3).  
<br/><br/>
If you have a credit on your account when you move, we may use it to pay off a debt on any other account you have with us. This might be for a different fuel or property. We’ll credit you anything that’s left so make sure we have your new address. 
            </p>
            <p>
                <b>6. Switching supplier</b>
            </p>
            <p>
                If you switch supplier, we’ll do everything reasonable to make the switch happen within 21 days of the new supplier telling us. 
                <br/><br/>

If you have a smart meter, it might not work with your new supplier. Talk to us or your new supplier about this. 
<br/><br/>

We’ll do everything reasonable to send you your final bill or statement within six weeks of you switching. You’ll need to pay it within 14 days of us sending it unless we agree something else with you. 
<br/><br/>

We can stop you switching if you owe us money. If you pay in advance you can switch as long as you owe £500 or less per fuel. Both you and your new supplier would have to agree to move the debt over. 
<br/><br/>

If you’ve been paying in advance through a smart meter we’ll change your meter to credit mode (that means paying in arrears, not in advance). We’ll clear the settings on your meter and smart energy display at about midnight on the day your switch happens. 
            </p>

            <p><b>
                7.     About the energy supplied to you  
            </b></p>
            <p>
                <b>7.1  Renewable electricity</b>
            </p>
            <p>All of the electricity supplied to you will be backed by renewable certificates, as evidence that we have generated or purchased electricity from renewable sources such as wind, solar and biomass. However, if for any reason, and at any time, we are unable to obtain sufficient renewable certificates to match your supply, we may have to start to supply all or part of your electricity from a non-renewable source.  </p>
            <p><b>7.2   Standards of service</b></p>
            <p>
                Energy is delivered to your meter by your local network operator. You can call them on 105. 
                <br/><br/>

Things can happen that can’t be controlled by them or by us. For instance, your electricity or gas might be of lower quality than usual. 


            </p>
            <p>
                <b>7.3   Electricity national terms of connection</b>
            </p>
            <p>
                We are acting on behalf of your electricity network operator to make an agreement with you. The agreement is that you and your electricity network operator both accept the National Terms of Connection (NTC), and agree to keep to its conditions. This will happen from the time that you enter into this contract and it affects your legal rights. The NTC is a legal agreement. It sets out rights and duties in relation to the connection at which your network operator delivers electricity to, or accepts electricity from, your property.  
            </p>
            <p>
                If you want to know who your network operator is, or want a copy of the NTC or have any questions about it, please write to: Energy Networks Association, 1st Floor, 4 More London Riverside, London SE1 2AU: phone 0207 706 5137 or see <a target="blank" href="http://connectionterms.org.uk/ ">http://connectionterms.org.uk/ </a>
            </p>
            <p>
                <b>7.4  Emergencies </b>
            </p>           
            <p>
                If anyone living in your property has a serious medical condition or a disability, let us know. Where appropriate, we’ll tell your network operator, so they can try to make sure you can still use essential equipment if there is a loss of supply. 
            </p> 
            <p>
                In a gas emergency, we or your network operator might ask you to turn down gas appliances or stop using gas altogether. You’ll need to follow any instructions we give you. 
            </p>
            <p>
                Sometimes your gas might be turned off because not enough is available in the network. This is called a gas deficit emergency. It’s rare, but if it happens you might qualify for compensation. It would be worked out in line with a document called the Uniform Network Code. We’ll add the payment to your account as soon as the people who run the gas transmission grid tell us we should. 
            </p>
            <p>
                <b>
                    7.5  Meter faults and problems 
                </b>
            </p>
            <p>
                If you think your meter is faulty, contact us so we can organise a test. You pay for the test, but if the meter does turn out to be faulty, you’ll be refunded. Until the fault is fixed, we’ll estimate how much energy you’ve used. 
            </p>
            <p>
                <b>
                    7.6  Getting access to your meter 
                </b>
            </p>
            <p>
                You must let us, anyone we authorise or your network operators to have access to your meter at any time. This will be in normal working hours unless it’s an emergency or we’ve agreed a time with you. We’ll also take as much care as we can while we’re in your property. 
            </p>
            <p>
                We need to inspect your meter regularly to check it’s safe and working properly.   
            </p>
            <p>
                If you don’t let us have access to your meter, we can charge you our costs. That could include the cost of a warrant. 
            </p>
            <p>
                <b>
                    8. Complaints 
                </b>
            </p>
            <p>
                If we haven’t given you the kind of service you expect, you can contact us using our contact details. 
            </p>
            <p>
                Our support team can fix most things straightaway. If they can’t, our resolution team will look after you until your complaint is resolved.   
            </p>
            <p>
                <b>
                    9. Your responsibilities 
                </b>
            </p>
            <p>
                You’re responsible for all energy you use at the property, paying bills in line with this contract and taking care of the meter. If more than one person is responsible for the consumption of electricity and gas at the domestic property, you’ll all be responsible – as individuals and together – for paying your bills. 
            </p>
            <p>
                You must take care of the meters at the property, including making sure they’re protected from the weather. You’re responsible for making sure there’s a meter box or cover for the meter, or replacing them.  
            </p>
            <p>
                You must let us know straightaway if you think your meter is damaged or if you think it’s been tampered with. If the damage is your fault or caused by your negligence, we’ll charge you for repairing or replacing the meter. We can prosecute anyone responsible for damaging or tampering with metering equipment. 
            </p>
            <p>
                It’s illegal and dangerous to interfere with our equipment, or the network operator’s, for example to steal energy, or try to. 
            </p>
            <p>
                If you have a smart meter, you mustn’t let anything stop it communicating with us. 
            </p>
            <p>
                <b>
                    10. Personal data
                </b>
            </p>
            <p>
                <b>10.1   Processing your data </b>
            </p>
            <p>
                If you provide any personal data to us under this contract, Monti Trade BVBA will be the ‘data controller’.  
            </p>
            <p>
                We’ll process your personal data in line with our privacy policy, which we will amend from time to time. 
You can find it at: <a target="blank" href="https://lowesttariff.com/privacy-policy/">https://lowesttariff.com/privacy-policy/</a>

            </p>
            <p>
                Our privacy policy sets out: 
            </p>
            <div>
                <ul>
                    <li>where we might get data about you from </li>
                    <li>why we need it </li>
                    <li>what we might do with the data (including who we might share it with) </li>
                    <li>the circumstances in which your data might be transferred abroad, and </li>
                    <li>how long we keep it for</li>
                </ul>
            </div>
            <p><b>10.2   Your rights </b></p>
            <p>
                You have a number of rights which relate to the access to and control of your data. These are also set out in our privacy policy. 
            </p>
            <p><b>11. 	About your prices </b></p>
            <p>Your prices are shown in your customer dashboard section “My Switches”. These prices will stay the same until the end date shown, unless: </p>
            <div>
                <ul>
                    <li>you stop paying by Direct Debit, or a Direct Debit payment fails (see 4.2) </li>
                    <li>you owe us money (see 4.1) </li>
                    <li>a law or regulation means we need to make a change (like VAT changes) </li>
                    <li>the Government or our regulator (Ofgem) tells us to change our price </li>
                </ul>
            </div>
            <p>
                You can arrange to switch to another supplier at any time without giving notice. See your confirmation letter for details. 
            </p>
            <p><b>11.1  What happens at the end date </b></p>
            <p>We'll contact you about six weeks before your end date with all the details about the tariff we'll switch you to.</p>
            <p><b>12. Our price protection rules </b></p>
            <p>
                If you owe us money we may stop you from switching supplier - we'll let you know if this is the case. If you pay the money you owe us no more than 30 working days after we've let you know about it, you'll be able to carry on with your switch. We'll keep you on your old prices and terms and conditions providing your switch is complete within six weeks. 
            </p>
            </div>
</div>
</div>